<h1 class="welcome2 fade-in">Your Dream Vacation: {{name}}</h1>
<div id="piechart">
  <canvas id="myChart"></canvas>
</div>

<h1 class="welcome2 fade-in">Estimated Total:<h1
    class="green fade-in"
  >${{total}}</h1></h1>
<form action="/piechart/{{id}}" method="POST" class="fade-in">
  <button>Home</button>
</form>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const data = { labels: [ 'Hotel', 'Flight', 'Car', 'Food' ], datasets: [{
  data: [{{hotel}},
  {{flight}},
  {{car}},
  {{food}}], backgroundColor: [ 'rgb(155, 253, 253)', 'rgb(255, 168, 255)',
  'rgb(255, 234, 96)', 'rgb(96, 255, 144)' ], hoverOffset: 4 }] }; const config
  = { type: 'doughnut', data: data, options:{ cutout: '40%', responsive: true,
  plugins: { legend: { position: 'top', }}}}; const ctx =
  document.getElementById('myChart'); new Chart(ctx, config);
</script>